body{background-color:#F8EAD8;}
hr{background-color:#A7727D ;
    border-style: none;
    height: 3;}
h1{color: #85586F;}
h3{color: #85586F;}
.crochet{height: 250px; 
    width: 200px;}
img:hover{background-color: #F9F5E7;}